.task {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    padding: 2.5rem;
    margin-top: 2rem;
    background: white;
    border-bottom: 1px solid #e1e1e1;
    color: black;
    border-radius: 1rem;
  }
  
  .task p {
    font-weight: bold;
    margin-bottom: .8rem;
    color: #24489c;
    align-items: stretch;
  }

  .task p span {
    font-weight: normal;
    color: black;
    align-items: stretch;
  }

  .button.eliminar,
  .button.eliminar:hover {
    background-color: #1967c9;
    color: white;
    margin-top: 2rem;
  }